---
layout: menu-page
title: Books
permalink: books:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<p>Welcome to the catalogue for the published works by Simon Jackson</p>
<p>Here is where you will find all the details on my published articles, books and whatnot.  Click on the books or links
    to learn more about each title.</p>
<h1 id="mastering-unity-2d-game-development">Mastering Unity 2D Game Development</h1>
<p>Mastering Unity 2D Game Development will give your game development skills a boost and help you begin creating and
    building an RPG with Unity 2D game framework.</p>
<h6 id="for-more-information-click-on-the-image-or-link-below-"><strong>For more information click on the image or link
        below.</strong></h6>
<!--kg-card-begin: html-->
<div align="center"><a title="Mastering Unity 2D Game Development"
        href="https://www.amazon.co.uk/gp/product/1849697345/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=1849697345&linkCode=as2&tag=zenistud-21&linkId=3c469276675c4d3a8de510a7a7b53421"
        target="_blank" rel="noopener"><img
            src="https://images-na.ssl-images-amazon.com/images/I/51iAHMURoPL._SX404_BO1,204,203,200_.jpg"
            alt="Mastering Unity 2D Game Development by Simon Jackson" width="400" height="500"></a><br /> <a
        title="Mastering Unity 2D Game Development"
        href="https://www.amazon.co.uk/gp/product/1849697345/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=1849697345&linkCode=as2&tag=zenistud-21&linkId=3c469276675c4d3a8de510a7a7b53421"
        target="_blank" rel="noopener">Mastering Unity 2D Game Development</a></div>
<!--kg-card-end: html-->
<h3 id="about-this-book">About This Book</h3>
<ul>
    <li>Learn the advanced features of Unity 2D to change and customize games to suit your needs</li>
    <li>Discover tips and tricks for Unity2D’s new toolset</li>
    <li>Understand scripting, deployment, and platform integration with an example at each step</li>
    <li>Get a whole life-cycle overview of game development, from advanced scripting, monetization, marketing and
        deployment</li>
</ul>
<h3 id="who-this-book-is-for">Who This Book Is For</h3>
<p>If you have C# knowledge but now want to become truly confident in creating fully functional 2D RPG games with Unity,
    then this book will show you everything you need to know.</p>
<br/>
<h1 id="unity-3d-ui-essentials">Unity 3D UI Essentials</h1>
<p>A complete end to end walk through the new Unity UI system, chock full of detail about each and every new feature
    with practical examples. Includes a walk-through the of the Opensource project for the Unity UI codebase and how
    to work with it.</p>
<h6 id="for-more-information-click-on-the-image-or-link-below--1"><strong>For more information click on the image or
        link below.</strong></h6>
<!--kg-card-begin: html-->
<div align="center"><a title="Mastering Unity 2D Game Development"
        href="https://www.amazon.co.uk/gp/product/B00T96XBYI/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B00T96XBYI&linkCode=as2&tag=zenistud-21&linkId=aa43f2851c867cad0cc46387f113d0a5"
        target="_blank" rel="noopener"><img src="https://m.media-amazon.com/images/I/517TIkZgFmL.jpg"
            alt="Unity 3D UI Essentials by Simon Jackson" width="400" height="500"></a><br /> <a
        title="Mastering Unity 2D Game Development"
        href="https://www.amazon.co.uk/gp/product/B00T96XBYI/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B00T96XBYI&linkCode=as2&tag=zenistud-21&linkId=aa43f2851c867cad0cc46387f113d0a5"
        target="_blank" rel="noopener">Unity 3D UI Essentials</a></div>
<!--kg-card-end: html-->
<h3 id="about-this-book-1">About This Book</h3>
<ul>
    <li>Discover how to build efficient UI layouts coping with multiple resolutions and screen sizes</li>
    <li>In-depth overview of all the new UI features that give you creative freedom to drive your game development to
        new heights.</li>
    <li>Walk through many different examples of UI layout from simple 2D overlays to in-game 3D implementations</li>
</ul>
<h3 id="who-this-book-is-for-1">Who This Book Is For</h3>
<p>If you have a good understanding of Unity's core functionality and a decent grasp of C# scripting in Unity (although
    not essential if you are just using the Editor with the new UI), you'll be well placed to take advantage of the new
    UI feature set.</p>